@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* Slate 900 */
  
  --primary: #0f172a; /* Slate 900 */
  --primary-foreground: #ffffff;
  
  --secondary: #f97316; /* Orange 500 */
  --secondary-foreground: #ffffff;
  
  --muted: #f8fafc; /* Slate 50 */
  --muted-foreground: #64748b; /* Slate 500 */
  
  --accent: #f1f5f9; /* Slate 100 */
  --accent-foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
